@import "colors/colors";
@import "fonts/fonts";


body {
    height: 100vh;
    background-color: $richBlack;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    display: relative;
    height: 70vh;
    width: 30vw;
    border-radius: 20px;
    background-color: $darkBlue;
    flex-wrap: wrap;
    border: 1px solid white;
}
    
.display {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    box-sizing: border-box;
    border-radius: 30px;
    top: 2%;
    height: 15%;
    width: 93%;
    background-color: $seaBlue;
    margin: 0 auto;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 1px white;
}

.input {
    box-sizing: border-box;
    padding: 1rem;
    background-color: $darkBlue;
    border: 3px solid $richBlack;
    height: 80%;
    top: 3%;
    width: 93%;
    display: grid;
    position: relative;
    border-radius: 30px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 2px solid $seaBlue;
    box-shadow: 0px 0px 10px 3px $seaBlue;
    
    
}

.btn {
    box-sizing: content-box;
    justify-self: center;
    align-self: center;
    display: flex;
    width: 90%;
    height: 90%;
    border-radius: 70px;
    background: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: $plex;
    font-size: 1vw;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 0px 5px 1px white;
}

.fr-btn {
    background-color: $mustardYellow;
}

//Button IDS//
#equal {
    grid-column-start: 3;
    grid-column-end: 5;
    width: 95%;
    border-radius: 50px;
}

.operator, #equal {
    background-color: $goldYellow;
}

// Typography //

#old-display {
    box-sizing: border-box;
    width: 100%;
    height: 35%;
    font-size: 1vw;
    text-align: right;
    padding-right: 2vw;
    color: white;
    font-weight: 200;
}

#new-display {
    box-sizing: border-box;
    height: 65%;
    width: 100%;
    font-size: 2vw;
    text-align: right;
    padding-right: 1vw;
    color: white;
}
