//background color""
$richBlack: hsl(216, 100%, 4%);



//calculator color//
$darkBlue : hsl(211, 100%, 12%);

$seaBlue: hsl(209, 100%, 20%);

$mustardYellow: hsl(46, 100%, 50%);

$goldYellow: hsl(50, 100%, 52%);