//background color""
$richBlack: hsl(216, 100%, 4%);



//calculator color//
$darkBlue : hsl(211, 100%, 12%);

$seaBlue: hsl(209, 100%, 20%);

$mustardYellow: rgba(255, 196, 0, 0.849);

$goldYellow: hsla(50, 100%, 52%, 0.945);